@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #5c37e200;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

.scroller::-webkit-scrollbar {
  width: 3px;
  margin-right: 3px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: #ffffff8b;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  background: #00000000;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 2px solid rgba(203, 200, 200, 0.564);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(203, 200, 200) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroller-input::-webkit-scrollbar {
  width: 4px;
  margin-right: 4px;
}

.scroller-input::-webkit-scrollbar-track {
  background: rgba(238, 238, 238, 0);
}

/* Handle */
.scroller-input::-webkit-scrollbar-thumb {
  background: rgba(200, 209, 218, 0);
}

.scroller-chat::-webkit-scrollbar {
  width: 8px;
  margin: 3px;
}

/* Track */
.scroller-chat::-webkit-scrollbar-track {
  border-radius: 999px;
  background: #30595f;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

/* Handle */
.scroller-chat::-webkit-scrollbar-thumb {
  background: #c8d1da;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

/* Handle on hover */
.scroller-chat::-webkit-scrollbar-thumb:hover {
  background: #30595f;
}
