@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #5c37e200;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}

input {
  background: #00000000;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
